.Filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.filter-btn {
    padding: 10px 18px 10px 18px;
    background-color: #F9F9F9;
    outline: 2px solid #141416;
    border-radius: 13px;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1A202C;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.filter-btn:hover {
    background-color: #e7e7e7;
}
.filter-btn-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}