.SellPage {
    display: flex;
    flex-direction: column;
}
.SellPage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 75px 65px 75px 65px;
}
.sellPage-title {
    color: #141416;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.sellPage-forms-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 75px;
}
.sellPage-forms {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.form-label {
    color: black !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.sell-input {
    height: auto !important;
    border-radius: 8px !important;
    background-color: #EFEFEF !important;
    border: none !important;
    padding: 25px !important;
    text-align: justify !important;
    color: #141416 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
.sell-input::placeholder {
    color: #9596A6 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.sell-area {
    height: auto !important;
    resize: none !important;
}
.sell-selects-box {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.sell-selects-box div div {
    max-width: none !important;
    right: 5%;
}
.sell-selects-box div div svg path {
    fill: #9596A6 !important;
}
.css-bx0blc {
    right: auto !important;
}
.css-42b2qy {
    right: auto !important;
}
.sell-select {
    width: 100% !important;
    height: auto !important;
    background-color: #EFEFEF !important;
    border-radius: 8px !important;
    border: none !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    color: #141416;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
.sell-select:focus-visible, .sell-input:focus-visible {
    border: none !important;
    box-shadow: none !important;
}
.half-select {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#input-group-1 .css-42b2qy {
    width: 125px !important;
    position: relative;
}
#input-group-1 .css-42b2qy::before {
    content: '';
    display: block;
    width: 1px;
    height: 50%;
    background-color: #DADADA;
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 9999;
}
#input-group-1 div div {
    right: 5% !important;
}
#input-group-1 div div svg path {
    fill: #9596A6 !important;
}
.half-input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.label-switch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.label-switch-title-1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.label-switch-title-2 {
    color: #9596A6;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 400;
}
.css-p27qcy {
    --switch-bg: #E7E4E4 !important;
    transition: all 0.3s ease-in-out !important;
}
.css-p27qcy[data-checked] {
    --switch-bg: black !important;
}
.css-7roig {
    background-color: black !important;
    transition: all 0.3s ease-in-out !important;
}
.css-7roig[data-checked] {
    background-color: white !important;
}
.sellPage-create-btn {
    width: 100%;
    background-color: black;
    border-radius: 9px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.sellPage-create-btn:hover {
    background-color: #3f3f3f;
}

.sellPage-file {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.sellPage-file-area {
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FCFCFD;
    border-radius: 22px;
    box-shadow: 0px 58.306156158447266px 58.306156158447266px -43.7296142578125px rgba(15, 15, 15, 0.10), 0px -58.302730560302734px 56.89459991455078px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.sellPage-file-area-title {
    max-width: 40%;
    color: #777E90;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 400;
}
.sellPage-file-btn {
    width: 50%;
    background-color: #141416;
    border-radius: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.sellPage-file-btn:hover {
    background-color: #3f3f3f;
}

@media screen and (max-width: 1300px) { 
    .sell-selects-box {
        width: 100%;
    }
}
@media screen and (max-width: 900px) { 
    .sellPage-file-area {
        height: 350px;
    }
}
@media screen and (max-width: 765px) { 
    .sellPage-forms-container {
        flex-direction: column-reverse;
    }
    .sellPage-file {
        width: 100%;
    }
    .sellPage-forms {
        width: 100%;
    }
}
@media screen and (max-width: 450px) { 
    .SellPage-content {
        padding: 75px 25px 75px 25px;
    }
    .sellPage-forms-container {
        gap: 50px;
    }
}